body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: rgb(183, 195, 237);
}

/* Header */
header {
  background: #111;
  color: white;
  padding: 15px 30px;
}

/* Container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Hoved side bilder + Info text*/
.hero {
  background: url("bilder/gif.gif") center/cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

/*Knapper*/
nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover {
  color: rgb(145, 104, 237);
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: rgb(145, 104, 237);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/*Info tekster nederst*/
.contact-info {
  margin-top: 20px;
  text-align: center;
}

/*Bilder av bilder*/
.merc {
  position: relative;
  width: 500px;
  height: 500px;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 10px;
  border: 6px solid #000;
}

.bm {
  position: relative;
  width: 500px;
  height: 500px;
  margin-top: 30px;
  margin-left: 30px;
  border: 6px solid #000;
}

.ben {
  position: relative;
  width: 500px;
  height: 500px;
  margin-top: 30px;
  margin-left: 30px;
  border: 6px solid #000;
}

.por {
  position: relative;
  width: 500px;
  height: 500px;
  margin-top: 30px;
  margin-left: 30px;
  border: 6px solid #000;
}

/*Mercedes sekjon*/
.merc-section {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 30px;
}

/*Video biler*/
.merc-video {
  width: 100%;
  max-width: 288px;
  border: 6px solid #000;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: -30px;
}

.bmw-video {
  width: 100%;
  max-width: 288px;
  border: 6px solid #000;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: -30px;
}

.ben-video {
  width: 100%;
  max-width: 288px;
  border: 6px solid #000;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: -30px;
}

.por-video {
  width: 100%;
  max-width: 288px;
  border: 6px solid #000;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: -30px;
}

/*Info boks Biler*/
.Boks {
  background-color: #f0f0f0;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  height: 470px;
  margin-bottom: -30px;
}

/*Bil text Høyre side*/
.mer {
  margin-left: 50px;
  color: #000;
  margin-bottom: -20px;
}

.BM {
  margin-left: 25px;
  color: #000;
}

.BE {
  margin-left: 16px;
  color: #000;
}

.PO {
  margin-left: 38px;
  color: #000;
  margin-bottom: -16px;
}

/* CTA */
.cta {
  background: rgb(9, 21, 64);
  color: white;
  text-align: center;
}

/* Footer */
footer {
  background: #111;
  color: white;
  padding: 15px;
}

/* Mobil */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .hero h2 {
    font-size: 28px;
  }
}
